@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');


*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}

.navbar{
    background: rgb(198,234,141);
    background: linear-gradient(90deg, rgba(198,234,141,1) 0%, rgba(255,187,187,1) 100%);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;}

footer .main{
    background: rgb(198,234,141);
    background: linear-gradient(90deg, rgba(198,234,141,1) 0%, rgba(255,187,187,1) 100%);
    padding: 2rem 0;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
}

footer .copyright{
    background: #e17055;
    padding: 0.5rem 0;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
}

small{
    font-size: 16px;
    color: grey;
}

#scrolltest{
    margin: 2em 2em;
    padding: 15em 2em;
    text-align: center;
    color: white;
    background-color: blue;
}